<div class="row" style="margin-left:0px ;margin-top: 5px;" >
    <div class="col-md-4">
        <img src="assets/img/ajax-logo.png" style="width: 50%;">
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;color: #404040;">
            Vehicle Tracking System
        </h2>
    </div>
    <div class="col-md-4">
        <a routerLink = "notifications" style=" margin-left: 52%; margin-top: 10%;" >
            <i class="fa fa-bell fa-lg" ></i>
        </a>
        <button type="button" class="btn btn-danger" (click)="logout()" style="float: right; margin-right: 16%;padding: 1px 10px;">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </button>
       
</div>


