<!-- Footer -->
<footer class="mob-footer-hide" style="background-color: #404040; color: white; width: 95%; font-size: small; bottom: 0;">

    <!-- Copyright -->

    <div class="row">
        <div class="col-md-5">
            <div class="row" style="margin-left:4%;">
                <div class="col-md-3">
                About Us
                </div>
                <div class="col-md-3">
                Contact Us
                </div>
                <div class="col-md-3">
                Manual
                </div>
                <div class="col-md-3">
                Privacy policy
                </div>
            </div>          
        </div>
        <div class="col-md-7" style="text-align: right;">
           <div style="margin-right: 2%;">
               Powered By Augmented Transformations   
        
            </div>
        </div>
                

    </div>
    
  
  </footer>
  <!-- Footer -->