<div style="margin-left:2%; margin-right: 1%; margin-top: 2%;">
<!-- <div *ngIf="!variant || inActive == false">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div> -->
<div class="row">
    <div class="col-md-6 banner-sec">
        <a routerLink="/dashboard"><i class="fa fa-arrow-circle-left" style="margin: 10px 0;"></i> Back </a>
        <h5 style="margin-bottom: 2%;">
            Breakdown Statistics
        </h5>
    </div>
    <div class="col-md-6 banner-sec mob-date m-mb-1">
        <div ng-app ng-controller="Ctrl" style="text-align: right;">
            <b style="margin-bottom: 0px;">
                {{date | date:'dd.MM.yyyy'}}
            </b>
        </div>
        <div style="text-align: right;">
            {{date | date:'EEEE'}}
        </div>
    </div>
</div>


<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <form class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-87" id="key-search" type="text" name="search"
                    [(ngModel)]="searchText" autocomplete="off" placeholder="Search"
                    style="background-color: #d9d9d9; ">
            </form>
        </div>
    </div>
</div>


<div class="tableFixHead">
    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
        <thead class="thead-dark">
            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">Category SubCategory</th>
                <th rowspan="2">Model</th>
                <th rowspan="2">Variant</th>
                <th rowspan="2">Pin No</th>
                <th colspan="3">Service</th>
            </tr>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let n of breakdownCount | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index">
                <td>{{ i+1 }}</td>
                <td>
                    <ul>
                        <li *ngFor="let i of n.services.items">
                            {{i.Concat}}
                            <br>
                        </li>
                    </ul>
                </td>
                <td>{{ n.deviceModel }}</td>
                <td>{{ n.variant }}</td>
                <td>{{ n.pinno }}</td>
                <td>
                    <ul>
                        <li *ngFor="let m of n.services">
                            {{m.serviceNumber}}
                            <br>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let m of n.services">
                            {{m.serviceType}}
                            <br>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let m of n.services">
                            {{m.actualcompletiondate}}
                            <br>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
</div>