<!-- <div *ngIf="!variant || inActive == false">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div> -->
<div class="row">
    <div class="col-md-6 banner-sec">
        <h5 style="margin-bottom: 5%;">
            Top 5 Performance
        </h5>
    </div>
    <div class="col-md-6 banner-sec">
        <div ng-app ng-controller="Ctrl" style="text-align: right; margin-top: 10px;">
            <b style="margin-bottom: 0px;">
                {{date | date:'dd.MM.yyyy'}}
            </b>
        </div>
        <div style="text-align: right;">
            {{date | date:'EEEE'}}
        </div>
    </div>
</div>


<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <form class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" id="key-search" type="text"
                name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search"
                style="background-color: #d9d9d9; ">
            </form>
        </div>
    </div>
    <div class="col-md-3 offset-md-3">
        <select class="form-control" [(ngModel)]="selectMonth" [value]="selectMonth" (ngModelChange)="changeMonth()">
            <!-- <option value="">Select Month</option> -->
            <option value="lastMonth">Last Month</option>
            <option value="currentMonth">Current Month</option>
        </select>
    </div>
</div>


<div class="tableFixHead">
    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Variant</th>
                <th>{{pinNo}}</th>
                <th>Engine Hrs</th>
                <th>Distance (Kms)</th>
            </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let p of top5Performers | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index ">
            <td>{{ i++1 }}</td>
            <td>{{ p.deviceModel }}</td>
            <td>{{ p.variant }}</td>
            <td>{{ p.pinno }}</td>
            <td>{{ (p.totalSecond)*(1/3600)| number}}</td>
            <td>{{ p.totalDistance| number }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>