<div class="row">
    <div class="col-md-6 banner-sec">
        <h2 style="margin-bottom: 5%;">
            Upcoming Services
        </h2>
    </div>
    <div class="col-md-6 banner-sec">
        <div ng-app ng-controller="Ctrl" style="text-align: right; margin-top: 10px;">
        <b style="margin-bottom: 0px;">
            {{date | date:'dd.MM.yyyy'}}
        </b>
        </div>
        <div style="text-align: right;">
          {{date | date:'EEEE'}}
        </div>
    </div> 
</div>






<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [style.display]='showModal? "block":"none"'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="exampleModalLabel">Schedule Details</h5>
                <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- <app-add></app-add>  add.component.ts -->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label>Device Model </label><br>
                            <input type="text" placeholder="XXXXXX"  readonly [(ngModel)]="deviceModel" formControlName="dmodel" class="form-control" />

                        </div>
                        
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <label>Pin No </label><br>
                            <input type="text" placeholder="XXXXXX" readonly [(ngModel)]="pinno"  formControlName="pinno" id="pinno" class="form-control" 
                            />

                        </div>
                        <div class="col-md-6">
                            <label>Engine Hours</label><br>
                            <input type="text"  formControlName="enhr" 
                            readonly [(ngModel)]="enhr"
                            class="form-control" />

                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <label> <span class="required-asterisk">*</span>Service Number </label><br>
                            <input type="text" placeholder="XXXXXX" formControlName="serviceNumber" 
                            readonly [(ngModel)]="snum" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.serviceNumber.errors }"/>
                            <div *ngIf="submitted && f.serviceNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.serviceNumber.errors.required">Service Number is required</div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <label>Service Engineer</label><br>
                            <select class="form-control" formControlName="serveng" class="form-control"
                            >
                            <option></option>
                            <option ></option>
                        </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <label>Given Date </label><br>
                            <input type="date" formControlName="gdate" class="form-control" />

                        </div>
                        <div class="col-md-6">
                            <label> <span class="required-asterisk">*</span>Expected Date Of Completion</label><br>
                            <input type="date" formControlName="scheduledCompletionDate" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.scheduledCompletionDate.errors }"/>
                            <div *ngIf="submitted && f.scheduledCompletionDate.errors" class="invalid-feedback">
                                <div *ngIf="f.scheduledCompletionDate.errors.required">Expected Date Of Completion is required</div>
                            </div>

                        
                        </div>
                    </div>


                   <br>
                    <div class="form-group" style="text-align: center;">

                        <button [disabled]="loading" type="submit" class="btn btn-primary" id="closeModel">
                            Save
                        </button>&nbsp;
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </form>

            </div>



        </div>
    </div>
</div>





<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6" >
        <div class="input-group-icon input-group-icon-left mr-3">
            <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" id="key-search" type="text"
                name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Device"
                style="background-color: #d9d9d9; ">
        </form>
        </div>
    </div>
    <div class="col-md-6">
       
    </div>
</div>
<div class="tableFixHead">
    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px; ">
        <thead class="thead-dark">
            <tr class="head">
                <th style="width: 5%;">#</th>
                <th style="width: 10%">Model</th>
                <th style="width: 15%">Machine Number</th>
                <th > Engine Run Hours</th>
                <th > Upcoming Service</th>
                <th style="width: 15%">Schedule Run Hours</th>
                <th style="width: 10%">Action</th>
    
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let mod of model"> -->
            <tr *ngFor="let mod of model | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index ">
                <td>{{i+1}}</td>
                <td>{{mod.deviceModel}} </td>
                <td> {{mod.pinno}} </td>
                <td>
                    {{mod.totalEngineHours}}
                </td>
                <td>
                    <ul  *ngFor="let m of mod.upcomingServices">
                        <li>
                          Service Number {{m.serviceNumber}}
                        </li>
                    </ul> 
                </td>
                <td>
                    <ul *ngFor="let m of mod.upcomingServices">
                        <li>
                           {{m.serviceDueAfterSeconds / 3600}} hrs
                        </li>
                    </ul>
                </td> 
                

                <td style="white-space: nowrap">
                    <ul *ngFor="let m of mod.upcomingServices;let t = index">
                    <li>
                    <button type="button"  class="btn btn-success" style="background-color:  #3385ff; padding: 1px 7px; float: right;"
                    data-toggle="modal"
                    data-target="#exampleModal2" (click)="register(mod.pinno,mod.totalEngineHours,mod.upcomingServices[t].serviceNumber,mod.deviceModel)">
                        <i class="fa fa-plus" aria-hidden="true" style="width: 30px; -webkit-text-stroke: 0.05px white;">
                        
                        </i>
                        Register Service 
                    </button>
                    </li>
                    </ul>
                </td>
            </tr>
            
    
        </tbody>
    </table>
    </div>
    <div class="row">
        <div class="col-md-2">
    
        </div>
        <div class="col-md-4">
    
        </div>
        <div class="col-md-6">
            <div class="input-group-icon input-group-icon-left mr-3">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>