<div style="margin-left:1%; margin-right: 5%;">
    <br>
    <div *ngIf="!user">
        <span class="spinner-border spinner-border-lg align-center"></span>
    </div>

    <div class="row">
        <div class="col-md-6 banner-sec">
            <h2 style="margin-bottom: 6%;">
                Users
            </h2>
        </div>
        <div class="col-md-6 banner-sec">
            <div ng-app ng-controller="Ctrl" style="text-align: right; margin-top: 10px; margin-right: 1%;">
                <b style="margin-bottom: 0px;">
                    {{date | date:'dd.MM.yyyy'}}
                </b>
            </div>
            <div style="text-align: right; margin-right: 1%;">
                {{date | date:'EEEE'}}
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        [style.display]='showModal? "block":"none"'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Users</h5>
                    <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-md-6">
                                <label><span class="required-asterisk">*</span>User Type</label><br>
                                <select class="form-control" [(ngModel)]="deviceModel" formControlName="useType"
                                    class="form-control" (click)="getrole()"
                                    [ngClass]="{ 'is-invalid': submitted && f.useType.errors }">
                                    <option value="" selected hidden>Select a value</option>
                                    <option *ngIf="ifAZone">ADMIN</option>
                                    <option *ngIf="ifMZone">MARKET</option>
                                    <option>ZONE</option>
                                    <option>SUBZONE</option>
                                    <option>STATE</option>
                                    <option>DEPOT</option>
                                    <option>DEALER</option>
                                </select>
                                <div *ngIf="submitted && f.useType.errors" class="invalid-feedback">
                                    <div *ngIf="f.useType.errors.required">User Type is required</div>
                                </div>


                                <label><span class="required-asterisk">*</span>Role</label><br>
                                <select class="form-control" formControlName="role" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                    <option>{{userrole}}</option>
                                    <option *ngFor="let role of role">{{role.code}}</option>
                                </select>
                                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                    <div *ngIf="f.role.errors.required">Role is required</div>
                                </div>



                                <div *ngIf="deviceModel ===  'DEALER'">


                                    <label><span class="required-asterisk">*</span>Market/Country</label><br>
                                    <select class="form-control" formControlName="createdAtmuserMarket"
                                        class="form-control" (click)="getZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.createdAtmuserMarket.errors }">
                                        <option>{{usermarket}}</option>
                                        <option *ngFor="let mar of market">{{mar.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.createdAtmuserMarket.errors" class="invalid-feedback">
                                        <div *ngIf="f.createdAtmuserMarket.errors.required">Market is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>Zone</label><br>
                                    <select class="form-control" formControlName="userZone" class="form-control"
                                        (click)="getSubZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userZone.errors }">
                                        <option>{{userzone}}</option>
                                        <option *ngFor="let zon of zone">{{zon.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userZone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userZone.errors.required">Zone is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>SUB Zone</label><br>
                                    <select class="form-control" formControlName="userSubzone" class="form-control"
                                        (click)="getState()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userSubzone.errors }">
                                        <option>{{usersubzone}}</option>
                                        <option *ngFor="let sub of subzone">{{sub.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userSubzone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userSubzone.errors.required">Sub zone is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>State</label><br>
                                    <select class="form-control" formControlName="userState" class="form-control"
                                        (click)="getDealers()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userState.errors }">
                                        <option>{{userstate}}</option>
                                        <option *ngFor="let state of states">{{state.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.deviceModel.errors" class="invalid-feedback">
                                        <div *ngIf="f.userState.errors.required">State is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>Dealer</label><br>
                                    <select class="form-control" formControlName="userDealer" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.userDealer.errors }">
                                        <option>{{userdealer}}</option>
                                        <option *ngFor="let del of dealer">{{del.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userDealer.errors" class="invalid-feedback">
                                        <div *ngIf="f.userDealer.errors.required">Dealer is required</div>
                                    </div>

                                </div>

                                <div *ngIf="deviceModel == 'MARKET'">
                                    <label><span class="required-asterisk">*</span>Market/Country</label><br>
                                    <select class="form-control" formControlName="deviceModel" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.deviceModel.errors }">
                                        <option>{{usermarket}}</option>
                                        <option *ngFor="let mar of market">{{mar.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.deviceModel.errors" class="invalid-feedback">
                                        <div *ngIf="f.deviceModel.errors.required">Market is required</div>
                                    </div>

                                </div>

                                <div *ngIf="deviceModel == 'ZONE'">

                                    <label><span class="required-asterisk">*</span>Market/Country</label><br>
                                    <select class="form-control" formControlName="createdAtmuserMarket"
                                        class="form-control" (click)="getZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.createdAtmuserMarket.errors }">
                                        <option>{{usermarket}}</option>
                                        <option *ngFor="let mar of market">{{mar.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.createdAtmuserMarket.errors" class="invalid-feedback">
                                        <div *ngIf="f.createdAtmuserMarket.errors.required">Market is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>Zone</label><br>
                                    <select class="form-control" formControlName="userZone" class="form-control"
                                        (click)="getSubZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userZone.errors }">
                                        <option>{{userzone}}</option>
                                        <option *ngFor="let zon of zone">{{zon.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userZone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userZone.errors.required">Zone is required</div>
                                    </div>

                                </div>

                                <div *ngIf="deviceModel == 'SUBZONE'">

                                    <label><span class="required-asterisk">*</span>Market/Country</label><br>
                                    <select class="form-control" formControlName="createdAtmuserMarket"
                                        class="form-control" (click)="getZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.createdAtmuserMarket.errors }">
                                        <option>{{usermarket}}</option>
                                        <option *ngFor="let mar of market">{{mar.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.createdAtmuserMarket.errors" class="invalid-feedback">
                                        <div *ngIf="f.createdAtmuserMarket.errors.required">Market is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>Zone</label><br>
                                    <select class="form-control" formControlName="userZone" class="form-control"
                                        (click)="getSubZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userZone.errors }">
                                        <option>{{userzone}}</option>
                                        <option *ngFor="let zon of zone">{{zon.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userZone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userZone.errors.required">Zone is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>SUB Zone</label><br>
                                    <select class="form-control" formControlName="userSubzone" class="form-control"
                                        (click)="getState()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userSubzone.errors }">
                                        <option>{{usersubzone}}</option>
                                        <option *ngFor="let sub of subzone">{{sub.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userSubzone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userSubzone.errors.required">Sub zone is required</div>
                                    </div>



                                </div>

                                <div *ngIf="deviceModel == 'STATE'">

                                    <label><span class="required-asterisk">*</span>Market/Country</label><br>
                                    <select class="form-control" formControlName="createdAtmuserMarket"
                                        class="form-control" (click)="getZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.createdAtmuserMarket.errors }">
                                        <option>{{usermarket}}</option>
                                        <option *ngFor="let mar of market">{{mar.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.createdAtmuserMarket.errors" class="invalid-feedback">
                                        <div *ngIf="f.createdAtmuserMarket.errors.required">Market is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>Zone</label><br>
                                    <select class="form-control" formControlName="userZone" class="form-control"
                                        (click)="getSubZone()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userZone.errors }">
                                        <option>{{userzone}}</option>
                                        <option *ngFor="let zon of zone">{{zon.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userZone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userZone.errors.required">Zone is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>SUB Zone</label><br>
                                    <select class="form-control" formControlName="userSubzone" class="form-control"
                                        (click)="getState()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userSubzone.errors }">
                                        <option>{{usersubzone}}</option>
                                        <option *ngFor="let sub of subzone">{{sub.code}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.userSubzone.errors" class="invalid-feedback">
                                        <div *ngIf="f.userSubzone.errors.required">Sub zone is required</div>
                                    </div>

                                    <label><span class="required-asterisk">*</span>State</label><br>
                                    <select class="form-control" formControlName="userState" class="form-control"
                                        (click)="getDealers()"
                                        [ngClass]="{ 'is-invalid': submitted && f.userState.errors }">
                                        <option>{{userstate}}</option>
                                        <option *ngFor="let state of states">{{state.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.deviceModel.errors" class="invalid-feedback">
                                        <div *ngIf="f.userState.errors.required">State is required</div>
                                    </div>

                                </div>



                                <label><span class="required-asterisk">*</span>First Name</label><br>
                                <input type="text" formControlName="firstName" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>

                                <label><span class="required-asterisk">*</span>Country</label><br>
                                <input type="text" formControlName="createdAtmuserMarket" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.createdAtmuserMarket.errors }" />
                                <div *ngIf="submitted && f.createdAtmuserMarket.errors" class="invalid-feedback">
                                    <div *ngIf="f.createdAtmuserMarket.errors.required">Country is required</div>
                                </div>

                                <label><span class="required-asterisk">*</span>City</label><br>
                                <input type="text" formControlName="city" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">city is required</div>
                                </div>

                                <div>
                                    <label><span class="required-asterisk">*</span>Login Name</label><br>
                                    <input type="text" formControlName="loginName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.loginName.errors }"/>
                                    <div *ngIf="submitted && f.loginName.errors" class="invalid-feedback">
                                        <div *ngIf="f.loginName.errors.required">Login Name is required</div>
                                    </div>
    
                                    <div class="error-messages">
                                        <ng-container *ngFor="let error of error_messages.loginName">
                                            <div class="error-message"
                                                *ngIf="form.get('loginName').hasError(error.type) && (form.get('loginName').dirty || form.get('loginName').touched)">
                                                {{ error.message }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    </div><br>
                                <!-- <label><span class="required-asterisk">*</span>Company ID</label><br>
                                <select class="form-control" formControlName="companyID" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.companyID.errors }">
                                    <option selected value="{{comp}}">{{comp}}</option>
                                </select>
                                <div *ngIf="submitted && f.companyID.errors" class="invalid-feedback">
                                    <div *ngIf="f.companyID.errors.required">CompanyID is required</div>
                                </div> -->

                                <div class="row">
                                    <div>Alerts: <input type="checkbox">&nbsp;</div>
                                    <div> SMS: <input type="checkbox">&nbsp;</div>
                                    <div>EMAIL: <input type="checkbox">&nbsp;</div>
                                    <div> Notification: <input type="checkbox">&nbsp;</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label><span class="required-asterisk">*</span>Email</label><br>
                                <input type="text" formControlName="email" class="form-control" />


                                <label><span class="required-asterisk">*</span>Mobile</label><br>
                                <input type="text" maxlength="10" formControlName="phone" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Mobile Number is required</div>
                                </div>
                                <label><span class="required-asterisk">*</span>Last Name</label><br>
                                <input type="text" formControlName="lastName" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                </div>
                                


                                <label><span class="required-asterisk">*</span>State Name</label><br>
                                <input type="text" formControlName="userState" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.userState.errors }" />
                                <div *ngIf="submitted && f.userState.errors" class="invalid-feedback">
                                    <div *ngIf="f.userState.errors.required">State is required</div>
                                </div>

                               

                                <label><span class="required-asterisk">*</span>PIN Code</label><br>
                                <input type="text" formControlName="pincode" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="f.pincode.errors.required">PIN Code is required</div>
                                </div>

                                   <div>
                                <label><span class="required-asterisk">*</span>Password</label>
                                <div class="input-group">
                                <input class="form-control" formControlName="password"
                                    [type]="fieldTextType ? 'text' : 'password'" />
                                   
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }" (click)="toggleFieldTextType()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                                </div>

                                <div class="error-messages">
                                    <ng-container *ngFor="let error of error_messages.password">
                                        <div class="error-message"
                                            *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                </div>
</div>

                               <div>
                                <label><span class="required-asterisk">*</span>Confirm Password</label>
                                <div class="input-group">
                                <input class="form-control" formControlName="confirmpassword" [type]="fieldTextType1 ? 'text' : 'password'"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType1,
                                        'fa-eye': fieldTextType1
                                      }" (click)="toggleFieldTextType1()"></i>
                                    </span>
                                </div>  
                                                     
                                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
                                </div>
                            </div>  

                                <div *ngIf="form.value.password !== form.value.confirmpassword">
                                    <p class="error-message">password do not match</p>
                                </div>
                            </div>
                        </div>
</div>
                        <br>
                        <div class="form-group" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" id="closeModel">
                                Save
                            </button>

                            &nbsp;
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-6">
            <div class="input-group-icon input-group-icon-left mr-3">
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" id="key-search" type="text" name="search"
                        [(ngModel)]="searchText" autocomplete="off" placeholder="Search User"
                        style="background-color: #d9d9d9; ">
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <input type="checkbox" [(ngModel)]="isChecked" style="margin-right: 10px;" (change)="inactiveRecords(isChecked)"> Show Inactive Users
            <button type="button" (click)="addMachine()" class="btn btn-success" data-toggle="modal"
                data-target="#exampleModal" style="background-color:  #3385ff; padding: 2px 10px; float: right;">
                <i class="fa fa-plus" aria-hidden="true" style="width: 30px; -webkit-text-stroke: 0.05px white;">

                </i>
                NEW USER
            </button>
        </div>
    </div>



    <div class="tableFixHead">
        <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 10%;">#</th>
                    <th style="width: 10%;">Name</th>
                    <th style="width: 10%;">Role</th>
                    <th style="width: 10%;">Contact No.</th>
                    <th style="width: 10%;">Email ID</th>
                    <th style="width: 10%;">LoginName</th>
                    <th style="width: 10%;">Status</th>
                    <th style="width: 10%;">CreatedOn</th>
                    <th style="width: 10%;">Actions</th>
                </tr>
            </thead>

            <tbody>
                <!-- <tr *ngFor="let machine of master ; let id = index"> -->
                <tr
                    *ngFor="let users of user  | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index ">

                    <td>{{i+1}}</td>
                    <td>{{users.firstName}}</td>
                    <td>{{users.role}}</td>
                    <td>{{users.phone}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.loginName}}</td>
                    <td>{{users.isActive==true?'Active':'Inactive'}}</td>
                    <!-- <td>{{users.createdBy}}</td> -->
                    <td>{{users.createdDate == "Invalid Date" || users.createdDate == "" ? ("date not available") :
                        (users.createdDate | date:'dd-MM-yyyy')}}
                    </td>
                    <td style="white-space: nowrap">
                        <button type="button" (click)="update($event,i,users.id)" id="closeModel"
                            class="btn btn-sm btn-primary mr-1" data-toggle="modal" data-target="#exampleModal">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-danger btn-delete-user" (click)="deleteUser(users.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
            <div class="input-group-icon input-group-icon-left mr-3">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>