.login-btn
  {
    padding: 4px 45px !important; 
    display: block !important; 
    margin:auto; 
    margin-top: 15%;
    margin-bottom: 7%; 
    /* background-color: #3C84F0 !important; */
  }

  .modal-backdrop {
      z-index: -1 !important;
  }

  .reset-mar
  {
    margin: 25px 0px 25% 0;
  }

  .reset-header
  {
    background-color: #454397 !important;
    color: #fff !important;
    border: 1px solid #454397 !important;
  }

  .w-87
    {
      width: 87% !important;
    }
 
  .pagination
  {
    margin-left: 50%;
  }

  .user-alert
  {
    font-size: 14px;
    margin-top: 19%;
  }

  .vehMon
{
    /* flex: 0 0 15.666667% !important;
    max-width: 15.666667% !important; */
    margin: 0 1%
}

.vehMonCust
{
    margin:0 1%;
    -ms-flex: 0 0 31.333333% !important;
    flex: 0 0 31.333333% !important;
    max-width: 31.333333% !important;
}

.topPerCust
{
    max-width: 49% !important;
    margin: 0 0 0 1%;
}

.runHourCust
{
    max-width: 40.666667% !important;
    margin-right: 1%;
}

.cus-StatCust
{
    max-width: 32.333333% !important;
    margin-right: 1%;
}

/* .utilization
{
    margin-left: 1%;
    flex: 0 0 18.666667% !important;
    max-width: 18.666667% !important;
} */

.breakStat
{
    flex: 0 0 23% !important;
    max-width: 23% !important;
}

.topPer
{
    max-width: 49% !important;
    margin: 0 0 0 1%;
}

.runHour
{
    max-width: 40.666667% !important;
    margin-right: 1%;
}

.cus-Stat
{
    max-width: 32.333333% !important;
    margin-right: 1%;
}

  /* all large screen */
  @media (min-width: 767px) and (max-width:1920px) 
  {
    /* login page */
    .login-header
    {
      margin-left: 20%;
      margin-top: 2%;
    }
    .login-logo
    {
      display: block;
      margin: auto;
      margin-top: 25%;
      margin-bottom: 5%;
    }
    img.d-block.img-fluid {
      width: auto;
      height: 100% !important;
    }
    .login-btn
    {
      padding: 4px 45px;
      display: block;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: #3C84F0;
    }
  }
  
/* large desktops */
  @media (min-width: 1537px) and (max-width:1920px) {
    
    .pro-logo
    {
      width: 25%;
    }
    .mob-navbar-btn
    {
      display: none;
    }
    
    .mobi-menu
    {
      display: none;
    }
    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
  }

  /* average Desktops */
  @media (min-width: 1367px) and (max-width:1536px) { 
    .mob-navbar-btn
    {
      display: none;
    }
    .mobi-menu
    {
      display: none;
    }
    .pro-logo
    {
      width: 25%;
    }
    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
  }

  /* Average laptop */
  @media (min-width: 767px) and (max-width:1366px) {  
    .mob-navbar-btn
    {
      display: none;
    }
    .mobi-menu
    {
      display: none;
    }
    .pro-logo
    {
      width: 25%;
    }
    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
  }

  /* large phone */
  @media (min-width: 415px) and (max-width:768px) { 
    
  }

  @media (max-width:768px) {
    /* login page */
    .login-header
    {
      margin-left: 20%;
      margin-top: 2%;
      font-size: 25px !important;
    }
    .login-logo
    {
      display: block;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .login-btn
    {
      padding: 4px 45px;
      display: block;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: #3C84F0;
    }


    /* mobile menu with toggle button start */
    .mob-navbar-btn
    {
      display: contents;
    }
    .modal.fade:not(.in).left .modal-dialog {
      -webkit-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
    }

    .modal.fade:not(.in).bottom .modal-dialog {
      -webkit-transform: translate3d(0, 25%, 0);
      transform: translate3d(0, 25%, 0);
    }

    .modal.left .modal-dialog {
      position:absolute;
      top:0;
      left:0;
      margin:0;
    }

    .modal.left .modal-dialog.modal-sm {
      max-width:300px;
    }

    .modal.left .modal-content {
      min-height:auto;
      border:0;
    }

    .modal-backdrop.show {
        opacity: 0 !important;
        z-index: -1 !important;
      }

      .navbar {
        padding: 15px 5px !important;
      }  
      .navbar-nav .dropdown-menu{
        margin: -42px 0px 0px 48px !important;
      }
        /* mobile menu with toggle button end */

      .col-xs-6 {
        width: 50% !important;
      }
      .m-p-0
      {
        padding: 0px !important;
      }

      .mob-m-1
      {
        margin-top: 10px;
      }
    .m-w-35
    {
      width: 35% !important;
    }  
    
    .m-mb-1
    {
      margin-bottom: 10px;
    }  
  }

  @media (max-width: 480px)
  {
    .track-1 {
        max-width: 100% !important;
        
    }  
    .track-2 {
        width: 100%;
    }

    .track-3 {
        max-width: 100% !important;        
    }
    .col-xs-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xs-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xs-5 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xs-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xs-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xs-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .m-f-left
    {
      float: left !important;
    }

    .m-ml-minus-1
    {
      margin: -10% 0 0 65%;
    }

    .m-mb-minus-15
    {
      margin-bottom: -15% !important  ;
    }

    /* gauge metor */
    .modal-lg {
      width: 94% !important;
    }
    .mob-gauge-content
    {
      width: 100% !important;
      right: 0 !important;
    }
    .cluster-diagram {
      width: 100% !important;
    }
    .gauge.gauge-fuel {
      width: 190px;
      height: 195px !important;
    }
    .mob-main-container
    {
      position: relative;
      text-align: center;
      margin: 20px auto 20px -25% !important;
      width: 500px;
    }
    .m-ml-0
    {
      margin-left: 0px !important;
    }

    .m-ml-1
    {
      margin-left: 10px;
    }

    .mob-date
    {
      margin: -15% 0 2% 70%;
      width: fit-content !important;
    }
    .m-w-85
    {
      width: 85% !important;
    }

    .mob-scrollable
    {
      overflow-x: scroll;
    }
    small {
        font-size: 65% !important;
        font-weight: 400;
    }
    /* svg.ngx-charts.ng-tns-c50-6 {
      margin-left: -30px;
    } */
    /* svg.ngx-charts.ng-tns-c50-5 {
      margin-left: -60px;
    } */
    .m-mt-22
    {
      margin-top: 22%;
    }
    .m-f-8
    {
      font-size: 8px !important;
    }

    .user-alert
    {
      font-size: 15px;
      margin: 4% 0;
      padding: 0 5%;
    }
  }

  /* average mobile */
  @media (min-width: 376px) and (max-width:414px) { 
    .col-xs-4
    {
      width: 33.33% !important;
    }
    .mob-footer-hide
    {
      display: none;
    }
    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
    .pro-logo
    {
      width: 100%;
    }
    .login-btn
    {
        margin: 10% auto 5% !important;
    }

    .desk-menu
    {
      display: none;
    }

    .mob-nab-header
    {
      padding: 6px 0px !important;
      margin-right: 40%;
    }

    .mob-nav-cont
    {
      display: contents;
    }

    .mob-menu
    {
        width: 80% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .mob-wrap
    {
        padding-left: 15% !important;
        width: 103% !important;
    }

    .mob-logo
    {
        width: 100% !important;
    }

    .main-header{
        font-size: 13px !important;
        margin: 5px 0;

    }

    .pagination
    {
        margin-left: 0% !important;
    }
          
  }
  

  /* small mobile */
  @media (min-width:359px) and (max-width:375px) { 
    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
    .mob-footer-hide
    {
      display: none;
    }
    .col-xs-4
    {
      width: 33.33% !important;
    }
    .main-header {
        font-size: 13px !important;
    }
    .pro-logo
    {
      width: 100%;
    }
    .desk-menu
    {
      display: none;
    }
    
    .mob-navbar-btn
    {
      display: contents;
    }

    .mob-nav-cont
    {
      display: contents;
    }
    .mob-nab-header
    {
      padding: 6px 0px !important;
      margin-right: 40%;
    }
  }
  
  /* very small mobile */
  @media (max-width:360px) { 
    /* login page */
    .login-logo {
        width: 30%;
    }


    /* header page */
    .main-header {
        font-size: 12px !important;
    }


    .header-user-icon
    {
      float: right;
      margin-right: 0%;
      font-size: 20px;
      margin: -5px 0 0 0;
      padding: 0 7px 0 0;
    }
    .mob-footer-hide
    {
      display: none;
    }
    .col-xs-4
    {
      width: 33.33% !important;
    }
    .pro-logo
    {
      width: 100%;
    }
    .desk-menu
    {
      display: none;
    }
    .mob-navbar-btn
    {
      display: contents;
    }

    .mob-nav-cont
    {
      display: contents;
    }
    .mob-nab-header
    {
      padding: 6px 0px !important;
      margin-right: 40%;
    }
  }