<!-- Modal -->
<div style="margin-left:1%; margin-right: 5%; margin-top: 2%;">

    <div class="row">
        <div class="col-md-6 banner-sec">
         <a onclick="goBack()"><i class="fa fa-arrow-circle-left" style="margin: 10px 0;"></i> Back </a> 
            <h5 style="margin-bottom: 2%;">
                Dashboard Vehicle Monitoring
            </h5>
        </div>
        <div class="col-md-6 banner-sec m-mb-1">
            <div ng-app ng-controller="Ctrl" style="text-align: right; margin-right: 1%;">
                <b style="margin-bottom: 0px;">
                    {{date | date:'dd.MM.yyyy'}}
                </b>
            </div>
            <div style="text-align: right; margin-right: 1%;">
                {{date | date:'EEEE'}}
            </div>
        </div>
    </div>
   
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="exampleModalLabel">Add Dealer</h5>
                <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                
            </div>



        </div>
    </div>
</div> -->

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6" >
        <div class="input-group-icon input-group-icon-left mr-3">
            <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-87 m-mb-1" id="key-search" type="text"
                name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Dealer"
                style="background-color: #d9d9d9; "> <br>
            <div class="m-mb-1" style="font-size: small; margin-left: 30px;">
                Inactive = Data not received since last 72 hours
            </div>    
            </form>
        </div>
    </div>
    <div class="col-md-3 offset-md-3">
        <select class="form-control" [(ngModel)]="selectOne" [value]="selectOne" (ngModelChange)="changeMonitor()">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select>
    </div>
</div>
<div class="tableFixHead">
    <table class="table table-striped table-bordered table-hover" style="margin-top: 15px;">
        <thead class="thead-dark">
            <tr class="head">
                <th >#</th>
                <th >Model</th>
                <th >{{pinNo}}</th>
                <th >Engine No</th>
                <th >Engine Hours</th>
                
                <th >Distance (kms)</th>
              
                <th >Last Data Recd At</th>
               <!--  <th> Fuel </th>
                <th> Batches </th>
                <th> Batch (kg) </th> -->
                <th> Last Engine on At </th>
                
                          </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let mod of model"> -->
            <tr *ngFor="let mon of monitordata | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index ">
                <td> {{i+1}} </td>
                <td> {{mon.deviceModel}} </td>
                <td> {{mon.pinno}} </td>
                <td> {{mon.engineNumber}} </td>
                <td> {{mon.totalEngineHours}} </td>
                <td> {{mon.totalDistance | number :'1.2-2'}} </td>
               
                
                <td> {{mon.lastDataReceivedAt | date:'dd-MM-yyyy'}} <br>
                    {{mon.lastDataReceivedAt | date:'h:mm a':'+0000'}} </td>
              <!--  <td></td>
                <td></td>
                <td>
                </td> -->
                <td> {{mon.engineLastOn | date:'dd-MM-yyyy'}} <br>
                    {{mon.engineLastOn | date:'h:mm a':'+0000'}} </td>
                
              
                
            </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>