<div class="modal fade" id="meter" tabindex="-1" aria-labelledby="example2Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content mob-gauge-content" style="width: 1150px; right: 150px;">
      <div class="modal-header bg-primary py-2">
        <h4 class="modal-title d-flex justify-content-center">Live Gauge Meter: </h4>
        <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <p>Panel will display data for Last Engine ON time.</p>
            <div class="meter-details">
              <div class="row mb-2">

                <b class="col-sm-7 col-7 text-right">Engine Hours :</b>
                <div class="col-sm-5 col-5">
                  <p class="form-control-static"><span class="text-red">{{enhr}} </span>
                   
                  </p>
                </div>
              </div>
              <div class="row mb-2">
                <b class="col-sm-7 col-7 text-right">Distance(kms) :</b>
                <div class="col-sm-5 col-5">
                  <p class="form-control-static"><span class="text-red">{{tdist | number :'1.2-2'}} </span>
                    &nbsp; <b></b> &nbsp;
                    <span class="text-red"> </span>
                  </p>
                </div>
              </div>

              <h4 class="text-center mb-4 text-red">Live Data
              </h4>

              <div class="row">
                <b class="col-sm-7 col-7 text-right">Oil Pressure :</b>
                <div class="col-sm-5 col-5">
                  <p class="form-control-static">
                    {{oilpressure}}
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Fuel Level :</b>
                <div class="col-sm-5 col-5">
                  <p class="form-control-static">{{fuelLevel}}</p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Fuel Litres :</b>
                <div class="col-sm-5 col-5">
                  <p class="form-control-static">{{fuelLiters}}</p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Coolant Temperature:</b>
                <div class="col-sm-5 col-5">
                  <p>{{coolantTemp}}
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Battery Level :</b>
                <div class="col-sm-5 col-5">
                  <p>{{batteryLevel}}
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">RPM:</b>
                <div class="col-sm-5 col-5">
                  <p>{{rpm}}
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Hydraulic Filter Choke  :</b>
                <div class="col-sm-5 col-5">
                  <p>{{hydralicOilFilterChoke}} 
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Parking Brake :</b>
                <div class="col-sm-5 col-5">
                  <p>{{parkingSwitch}}
                  </p>
                </div>
              </div>
              <div class="row">
                <b class="text-right col-sm-7 col-7" text-right text-right>Engine</b>
                <div class="col-sm-5">
                  <i class="fa fa-plug fa-1x" style="color: green"></i> ON
                </div>
              </div>
              <div class="row">
                <b class="col-sm-7 col-7 text-right">Date Time :</b>
                <div class="col-sm-5 col-5">
                  <p>{{devicePublishTime | date:'dd-MM-yyyy'}} {{devicePublishTime | date:'h:mm:ss a':'+0000'}}
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-8" style="top: 30px;" *ngIf="!checkModel">
            <div class="main-container mt-0 mob-main-container">
              <div class="ajax-img"></div>
              <div class="icon-bg elo"></div>
              <div class="icon-bg holi"></div>
              <div class="icon-bg gare1"></div>
              <div class="icon-bg gare2"></div>
              <div class="icon-bg hbi"></div>
              <div class="icon-bg lri"></div>
              <div class="icon-bg eph"></div>
              <div class="icon-bg hsi"></div>
              <div class="icon-bg neutral"></div>
              <div class="icon-bg wcentring"></div>
              
              <div class="icon-bg bci" title="Battery" [class.bci-full]="batteryLevel > '11.5'"
                [class.bci-med]="batteryLevel > '6' && batteryLevel < '11.5'" [class.bci-low]="batteryLevel < '6'">
              </div>
              <div class="icon-bg fri" title="Fuel Status" [class.fri-full]="fuelLevel == 'Full'"
                [class.fri-med]="fuelLevel == 'Half'"
                [class.fri-low]="(fuelLevel == 'Reserve') || (fuelLevel == 'Empty')">
              </div>
              <div class="icon-bg pbfailure"></div>
              <div class="icon-bg pbapplied" title="Parking Brake" [class.pb-released]="parkingSwitch === 'RELEASE'"
                [class.pb-applied]="parkingSwitch === 'APPLIED'">
              </div>
              <div class="icon-bg plindicator"></div>
              <div class="icon-bg hof" title="Hydraulic Oil" [class.hof-green]="hydralicOilFilterChoke === 'NORMAL'"
                [class.hof-red]="hydralicOilFilterChoke === 'CHOKE'">
              </div>
              <div class="icon-bg ewt"></div>
              <h6 type="text" id="inputvalwater" title="RPM" readonly="readonly">{{rpm}}</h6>
              <h6 type="text" id="inputval" title="Engine Hours" readonly="readonly">{{enhr}}</h6>
              <span class="loc-animate" title="Oil Pressure">
              </span>
              <div class="container-argo2500" title="Fuel Level">
                <img class="gaugec" src="../../assets/img/meter/argo2500/curve.png" />
              </div>
              <div class="container-water" title="Coolent Temperature">
                <img class="gaugecwater" src="../../assets/img/meter/argo2500/curve-water.png" />
              </div>
            </div>
          </div>


          <div class="col-sm-8" style="top: 30px;" *ngIf="checkModel">
            <div class="cluster-diagram">
              <div class="row">
                <div class="gauge gauge-fuel gauge-green" id="gaugeDemo">
                  <div class="gauge-arrow" style="transform: rotate(126deg)" [style.transform]="gaugeLeft(+fuelLiters)">
                  </div>
                </div>
                <div class="gauge gauge-big gauge-green" id="gaugeDemo-left">
                  <div class="gauge-arrow" style="transform: rotate(-48deg)"
                    [style.transform]="gaugeMiddle(+oilpressure)">
                  </div>
                  <div class="reading-input">
		    <input title="Engine Hours" value="{{enhr}}" readonly />
                  </div>
                </div>
                <div class="gauge gauge-temperature gauge-green" id="gaugeDemo-right">
                  <div class="gauge-arrow" style="transform: rotate(-126deg)"
                    [style.transform]="gaugeRight(+coolantTemp)">
                    >
                  </div>
                </div>
              </div>
              <div class="icons-row1 row">
                <div class="icons-left">
                  <div class="cluster-icon"><img src="../../assets/img/meter/lowlubric-icon.png" /></div>
                  <div class="cluster-icon battery m-l-20" title="Battery" [class.battery-full]="batteryLevel > '11.5'"
                    [class.battery-med]="batteryLevel > '6' && batteryLevel < '11.5'"
                    [class.battery-low]="batteryLevel < '6'">

                  </div>
                </div>
                <div class="icons-right">
                  <div class="cluster-icon"><img src="../../assets/img/meter/gear1-icon.png" /></div>
                  <div class="cluster-icon m-l-20"><img src="../../assets/img/meter/gear2-icon.png" /></div>
                </div>
              </div>
              <div class="icons-row2 row">
                <div class="cluster-icon-size"><img src="../../assets/img/meter/break-icon.png" /></div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/breakfail-icon.png" /></div>
                <div class="cluster-icon-size hydroulic-oil" title="Hydraulic Oil"
                  [class.hydroulic-oil-green]="hydralicOilFilterChoke === 'NORMAL'"
                  [class.hydroulic-oil-red]="hydralicOilFilterChoke === 'CHOKE'">
                </div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/left-indi.png" /></div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/prehe-icon.png" /></div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/right-indi.png" /></div>
                <div class="cluster-icon-size parking-brake" title="Parking Brake"
                  [class.parking-brake-released]="parkingSwitch === 'RELEASE'"
                  [class.parking-brake-applied]="parkingSwitch === 'APPLIED'">
                </div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/axelcenter-icon.png" /></div>
                <div class="cluster-icon-size"><img src="../../assets/img/meter/highspeed-icon.png" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="margin: 0;">
    <img src="../../assets/img/trackvehicles.jpg" style="width: 100%;">
  </div>
  <i data-toggle="modal" data-target="#vehicleLastLocationModal" id="vehicleLastLocationModalopen"></i>
  <i data-toggle="modal" data-target="#vehicleLocationModal" id="vehicleLocationModalopen"></i>

  <div class="row" style="margin-left: 0; margin-top: 10px;">
    <div class="col-md-6 m-p-0">
      <form class="form-inline">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-87" type="text" placeholder="Search Vehicle" aria-label="Search"
          name="search" [(ngModel)]="searchText" autocomplete="off" style="background-color: #d9d9d9; ">
      </form>
    </div>
  
    <div class="col-md-6 m-p-0 mob-m-1">
      <form class="form-inline" [formGroup]="form" (ngSubmit)="onSubmit()" style="float: right;">
        <label class="mob-footer-hide">From</label> &nbsp;
        <input type="date" class="form-control m-w-35 m-p-0" [ngModel]="startDate | date:'yyyy-MM-dd'" max="{{startDate}}"
          formControlName="startDate" style="padding: 0px 10px; margin-right: 15px;">
        <label>To</label> &nbsp;
        <input type="date" class="form-control m-w-35 m-p-0" [ngModel]="endDate | date:'yyyy-MM-dd'" min="{{endDate}}"
          formControlName="endDate" placeholder="Tosasasasas" style="padding: 0px 10px; margin-right: 10px;">
        <button class="btn btn-primary" type="button" type="submit"
          style="padding: 6px 7px; float: right; border: none;">GO!</button>
  
      </form>
    </div>
  </div>
  
  <div class="row"></div>
  
  <div class="tableFixHead" style="margin-top: 10px;">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th style="vertical-align: top;">#</th>
          <!-- <th style="vertical-align: top;">Vehicle No. </th> -->
          <th style="vertical-align: top;">{{pinNo}}</th>
          <th style="vertical-align: top;">Model</th>
          <th style="vertical-align: top;">Engine No.</th>
          <th style="vertical-align: top;">Customer Login</th>
          <th style="vertical-align: top;">Engine Hours</th>
          <th style="vertical-align: top;padding: 8px 38px; ">LastData Recd.</th>          
          <th style="vertical-align: top;"> <i class="fa fa-route fa-2x"></i> <br>(kms) </th>
          <th style="vertical-align: top;padding: 8px 38px; ">EngineLast ON</th>
            <th style="vertical-align: top; "><i class="fas fa-tachometer-alt fa-2x"> </i></th>            
 	 <th style="vertical-align: top;"><i class="far fa-map fa-2x"></i></th>
    <th style="vertical-align: top;"> <i class="fa fa-exclamation-triangle fa-2x" title="alert report"></i></th>
         
          <!-- <th style="vertical-align: top;"><i class="far fa-list-alt fa-2x"></i></th> -->
          <th style="vertical-align: top;">Actions</th>
          <th style="vertical-align: top;">Device ID</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let v of variant"> -->
        <tr
          *ngFor="let t of trackdocs | filter:searchText | paginate : {itemsPerPage : 50, currentPage : p} let i = index"
          (click)="setClickedRow(i)" [class.active]="i == selectedRow">
          <td>{{50*(p-1)+i+1}}</td>
         <!--  <td>{{i+1}}</td> 

          <td *ngIf="t.vehicleNumber != ''">
            {{t.vehicleNumber}}
          </td>
          
          <td *ngIf="t.vehicleNumber == ''">
            {{t.pinno}}
          </td>   -->	

          <td id="t1"> <a id="onNavigate" (click)="onNavigate(t.pinno,'isPinNo')" style="color: inherit;">{{t.pinno}}</a></td>
	  
  
          <td>{{t.deviceModel}}</td>
  
          <td>{{t.engineNumber}}</td>
          <!-- <td>{{ ConvertToInt(t.addedSeconds) + ConvertToInt(t.totalSeconds) | enginehours}}</td>
                 -->
          <td>{{t.customerCode}} <br> {{t.customerMobile}}</td>
          <td> {{ t.totalEngineHours }} </td>
          <td>
<!-- Future date display issue resolved -->
            {{t.lastDataReceivedAt | slice:8:10}}-{{t.lastDataReceivedAt| slice:5:7}}-{{t.lastDataReceivedAt| slice:0:4}} <br>
                            {{t.lastDataReceivedAt | date:'h:mm:ss a':'+0000'}}
          </td>
          
         
          <td> {{t.totalDistance | number :'1.2-2'}}</td>
          <td> {{t.engineLastOn | slice:8:10}}-{{t.engineLastOn| slice:5:7}}-{{t.engineLastOn| slice:0:4}} <br>
                                        {{t.engineLastOn | date:'h:mm:ss a':'+0000'}}
                      </td>
	  
          <td>
            <a title="Guage Meter"
              (click)="meter(t.totalEngineHours,t.totalDistance,t.vehicleNumber,t.pinno,t.deviceModel,'isMeter')"> <i
                class="fas fa-tachometer-alt fa-2x" data-toggle="modal" data-target="#meter"></i>
            </a>
  
          </td>
          <td>
            <a title="Vehicle Map">
              <div (click)="mapDate(t.pinno,'isMapPath')"><i class="far fa-map fa-2x"></i></div>
            </a>
          </td>
          <td> <a id="onAlert" (click)="onAlert(t.pinno)"><i class="fa fa-exclamation-triangle fa-2x"></i></a></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-muted dropdown-toggle btn-drop-down" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="trackVehicleLastLocation(t.pinno,false)">
                <i class="fa fa-ellipsis-v "></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" style="background-color: rgb(168, 161, 161);" (click)="trackVehicleLastLocation(t.pinno, true)"><i class="fa fa-map-marker"></i>
                  Vehicle Last Location ( {{t.pinno}} ):<br> {{address}}</button>
                <!-- <a class="dropdown-item"><i class="fa fa-share-square"></i> Share</a> -->
              </div>
            </div>
            <!-- <ul class="actions">
                          <a>
                              <li class="actions-item"><i class="fa fa-share-square"></i></li>
                          </a>
                          <a>
                              <li class="actions-item"><i class="fa fa-clock-o"></i></li>
                          </a>
                          <a>
                              <li class="actions-item"><i class="fa fa-map-marker"
                                      (click)="trackVehicleLastLocation(t.pinno)"></i></li>
                          </a>
                          <a>
                              <li class="actions-item"><i class="fa fa-ellipsis-v "></i></li>
                          </a>
  
                      </ul> -->
          </td>
        <!-- <td> <a title="Summary" (click)="onSummary(t.pinno)"><i class="far fa-list-alt fa-2x"></i></a> </td> -->
        <td *ngIf="(t.deviceID | slice:0:4) == '3529'">AT_{{t.deviceID}}</td>
        <td *ngIf="(t.deviceID | slice:0:4) != '3529'">{{t.deviceID}}</td>
        </tr>
        <tr *ngIf="!track">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
<tr><td colspan="13">*If customer has not provided the vehicle number while creating the machine then vehicle number is taking as same as pin number</td></tr>

      </tbody>
    </table>
  </div>
  
  <div class="input-group-icon input-group-icon-right col-md-12">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>




<div class="modal fade" id="vehicleLocationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vehicle Path Map</h5>
        <button type="button" class="close" id="vehicleLocationModalclose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- animation="BOUNCE" -->
        <button class="btn btn-primary" (click)="this.viewType= 'terrain'"
          style="padding: 2px 10px; margin-right: 4px;">Terrain</button>
        <button class="btn btn-danger" (click)="this.viewType= 'satellite'"
          style="padding: 2px 10px;">Satellite</button>
<!-- &nbsp;&nbsp;
<input type="checkbox"[(ngModel)]="isChecked"(change)="alldevicesRecords(isChecked)" /> Show  Off Data Also -->

        <agm-map [latitude]='maplat' [longitude]='maplng' [zoom]='12' [fullscreenControl]='true' [mapTypeControl]='true'
          [streetViewControl]="true" [mapTypeId]="this.viewType">


          <agm-marker *ngFor='let marker of coordinatedata'
            [iconUrl]="{url: markerPath, scaledSize: {height: 25,width: 15}}" [latitude]='marker.lat'
            [longitude]='marker.lng' [opacity]='opacity' [markerDraggable]='true' [agmFitBounds]="true">
            <agm-info-window>
              <Strong>{{pinNo}} : {{marker.pinno}}</Strong>
                        <br>
                        <Strong>Device-Model. : {{marker.deviceModel}}</Strong>
                        <br>
                        <strong>Date Time : {{marker.time | date:'dd-MM-yyyy h:mm:ss a':'+0000'}}</strong>
                        <br>
              <!--
                        <strong>Time : {{marker.time | date:'h:mm:ss a':'+0000'}}</strong>
                        <br>    -->
                        <Strong>Lat : {{marker.lat}}</Strong>
                        <br>
                        <Strong>Lng : {{marker.lng}}</Strong>
                        <br>
                        
                        <Strong>Engine Status : {{marker.engineStatus}}</Strong>
              <br>
                        <Strong>Distance(kms) : {{marker.rangedistance}}</Strong>
               <br>
               <Strong>Speed : {{marker.travelspeed}}</Strong>
                       
                      </agm-info-window>
          
          </agm-marker>
          <agm-polyline [visible]="true" [strokeWeight]="2" [strokeColor]="'#57eaff'">
            <agm-polyline-point *ngFor="let coordinate of coordinatedata; let i=index" [latitude]="coordinate.lat"
              [longitude]="coordinate.lng">
            </agm-polyline-point>
          </agm-polyline>

          <agm-marker *ngFor="let coordinate of end_marker; let i=index" animation="BOUNCE"
            [iconUrl]="{url: endMark, scaledSize: {height: 50,width: 33}}" [latitude]="coordinate.lat"
            [longitude]="coordinate.lng" [agmFitBounds]="true">
            <agm-info-window>
              <strong>Start</strong>
              <hr>
		<Strong>{{pinNo}} : {{coordinate.pinno}}</Strong>
              <br>
              <Strong>Device-Model. : {{coordinate.deviceModel}}</Strong>
              <br>
              
		<strong>Date Time : {{coordinate.time | date:'dd-MM-yyyy h:mm:ss a':'+0000'}}</strong>
              <br>
		<!-- 
	      <strong>Date : {{coordinate.time | date:'dd-MM-yyyy'}}</strong>
              <br>
              <strong>Time : {{coordinate.time | date:'h:mm:ss a':'+0000'}}</strong>
              <br>  -->
              <Strong>Lat : {{coordinate.lat}}</Strong>
              <br>
              <Strong>Lng : {{coordinate.lng}}</Strong>
              <br>              
              <Strong>Engine Status : {{coordinate.engineStatus}}</Strong>
             

            </agm-info-window>

          </agm-marker>

          <agm-marker *ngFor="let coordinate of start_marker; let i=index" animation="BOUNCE"
            [iconUrl]="{url: startMarker, scaledSize: {height: 50,width: 34}}" [latitude]="coordinate.lat"
            [longitude]="coordinate.lng" [agmFitBounds]="true">
            <agm-info-window>
              <strong>End</strong>
              <br>
              <Strong>{{pinNo}} : {{coordinate.pinno}}</Strong>
              <br>
              <Strong>Device-Model. : {{coordinate.deviceModel}}</Strong>
              <br>
              <strong>Date Time : {{coordinate.time | date:'dd-MM-yyyy h:mm:ss a':'+0000'}}</strong>
		<br>
             <!--  
              <strong>Time : {{coordinate.time | date:'h:mm:ss a':'+0000'}}</strong>
              <br>  -->
              <Strong>Lat : {{coordinate.lat}}</Strong>
              <br>
              <Strong>Lng : {{coordinate.lng}}</Strong>
              <br>              
              <Strong>Engine Status : {{coordinate.engineStatus}}</Strong>
	      <br>
              <Strong>Distance(kms) : {{coordinate.rangedistance}}</Strong>
 		<br>
 		<Strong>Speed : {{coordinate.travelspeed}}</Strong>

             

	     

            </agm-info-window>

          </agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Last Location -->
<div class="modal fade" id="vehicleLastLocationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vehicle Last Location</h5>
        <button type="button" class="close" id="vehicleLastLocationModalClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]='lastLocationlat' [longitude]='lastLocationlng' [zoom]='8' [fullscreenControl]='true'
          [mapTypeControl]='true' [streetViewControl]="false">
          <agm-marker *ngFor="let coordinate of coordinatedata; let i=index" [latitude]='lastLocationlat' [longitude]='lastLocationlng' [opacity]='opacity'
            [markerDraggable]='false' [agmFitBounds]="true">
            <agm-info-window>
              <strong>{{pinNo}} : {{coordinate.pinno}}</strong>
              <br>
              <strong>Device Model : {{coordinate.deviceModel}}</strong>
              <br>
              <strong>Date : {{coordinate.time | date:'dd-MM-yyyy'}}</strong>
              <br>
              <strong>Time : {{coordinate.time | date:'h:mm:ss a':'+0000'}}</strong>
              <br>
              <strong>lat : {{coordinate.lat}}</strong>
              <br>
              <strong>lng : {{coordinate.lng}}</strong>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>