<div class="row">
    <div class="col-md-10 banner-sec">
        <a routerLink="/track"> <i class="fa fa-arrow-circle-left" style="margin: 10px 0;"></i> Back </a>
        <h5 style="margin-top: 1%; margin-bottom: 3%;">
            Vehicle {{selected}} : {{pin}}
        </h5>
        <div class="row">
            <!-- Date : {{stdate | date:'dd/MM/yyyy'}}  |  
            {{endate | slice:8:10}}/{{endate| slice:5:7}}/{{endate| slice:0:4}} -->
            <div class="col-md-7 m-mb-1">
                <form class="form-inline" [formGroup]="dtform" (ngSubmit)="onSubmit()">
                    <label class="mob-footer-hide">From</label> &nbsp;
                    <input type="date" class="form-control m-w-35" [ngModel]="stdate | date:'yyyy-MM-dd'"
                        max="{{stdate}}" formControlName="stdate" style="padding: 0px 10px;">
                    <label style="margin: 0 5px;">To</label> &nbsp;
                    <input type="date" class="form-control m-w-35" [ngModel]="endate | date:'yyyy-MM-dd'"
                        min="{{endate}}" formControlName="endate" placeholder="To Date" style="padding: 0px 10px;">
                    <button class="btn btn-primary" type="button" type="submit"
                        style="padding: 6px 7px; float: right; border: none; margin-left: 5px;">GO!</button>

                </form>
            </div>
            <div class="col-md-4">
                <div *ngIf="loading">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </div>
                <select class="rounded m-f-left" id="report"
                    style="border: 0px; outline: 0px; float: right; padding: 4px 40px; font-weight: bold;"
                    (change)="select($event)">
                    <option selected value="Report">
                        Report
                    </option>
                    <option value="Consumption">
                        Consumption
                    </option>
                    <option value="Batch">
                        Batch
                    </option>
                    <option value="Engine">
                        Engine Hours
                    </option>

                </select>

            </div>
            <div class="col-md-1" *ngIf="selected == 'Batch' || selected == 'Engine'">
                <button class="btn btn-success mr-1" title="Download Excel File" (click)="exportAsXLSX()"
                    style="float:right;"><i class="fas fa-file-excel fa-2x"></i>

                </button>
            </div>
        </div>
    </div>
    <div class="col-md-2 banner-sec m-ml-minus-1 col-xs-4">
        <div ng-app ng-controller="Ctrl" style="text-align: right; margin-top: 10px;">
            <b style="margin-bottom: 0px;">
                {{date | date:'dd.MM.yyyy'}}
            </b>
        </div>
        <div style="text-align: right;">
            {{date | date:'EEEE'}}
        </div>
    </div>
</div>
<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->





<div class="row" style="margin-bottom: 10px;">

</div>


<div class="row rounded" style="margin-left: 0px; margin-right: 0px; margin-bottom: 10px;">
    <div class="container" style="margin-top:10px; margin-bottom: 20px; max-width: 100%;">
        <div class="row">
            <div class="col-md-3 track-1 m-mb-1">
                <img src="assets/img/Truck 1.png" style="width: 90%;">

            </div>
            <div class="col-md-4 track-2 m-mb-1" style="font-size: small;">
                <ul>

                    <li>
                        Machine has run {{engineHours}} hrs in last 7 days.
                    </li>
                    <!-- <li *ngIf = "(summary.engineHours.total >= 7) && (summary.engineHours.total < 14)" style="color:blue ;">
                        Machine has run {{summary.engineHours.total}} hrs in last 7 days.
                    </li>
                    
                    <li *ngIf = "summary.engineHours.total >= 14" style="color:green ;">
                        Machine has run {{summary.engineHours.total}} hrs in last 7 days.
                    </li> -->
                    <li>
                        Avg run hours is {{averageHours}} hrs /per Day in last 7 days.
                    </li>

                    <!-- <li *ngIf = "(summary.engineHours.total >= 7) && (summary.engineHours.total < 14)" style="color:blue ;">
                        Avg run hours is {{summary.averageHours}} hrs /per Day in last 7 days.
                    </li>
                    <li *ngIf = "summary.engineHours.total >= 14" style="color:green;">
                        Avg run hours is {{summary.averageHours}} hrs /per Day in last 7 days.
                    </li> -->

                    <li>
                        Total distance travelled {{distanceTravelled | number :'1.2-2'}} kms in last 7 days.
                    </li>
                    <!-- <li *ngIf = "(summary.engineHours.total >= 7) && (summary.engineHours.total < 14)" style="color:blue ;">
                        Total distance travelled {{summary.distance.distanceTravelled | number :'1.2-2'}} kms in last 7 days.
                    </li>
                    <li *ngIf = "summary.engineHours.total < 7" style="color:red ;">
                        Total distance travelled {{summary.distance.distanceTravelled | number :'1.2-2'}} kms in last 7 days.
                    </li> -->
                    <li>
                        Average Distance travelled {{averageDistance | number :'1.2-2'}} kms per day in last 7 days.
                    </li>
                    <!-- <li *ngIf = "(summary.engineHours.total >= 7) && (summary.engineHours.total < 14)" style="color:blue ;">
                        Average Distance travelled {{summary.distance.averageDistance | number :'1.2-2'}} kms per day in last 7 days.
                     </li>
                     <li *ngIf = "summary.engineHours.total < 7" style="color:red ;">
                        Average Distance travelled {{summary.distance.averageDistance | number :'1.2-2'}} kms per day in last 7 days.
                     </li> -->


                    <li>
                        Machine Engine Last operated at {{lastOperatedOn|  date:'h:mm a':'+0000'}}
                        {{lastOperatedOn| slice: 8:10}}-{{lastOperatedOn| slice: 5:7}}-{{lastOperatedOn| slice: 0:4}}
                    </li>
                    <br>
                    <!-- <li>
                        Service number {{serviceDueNumber}}{{serviceType}} type {{serviceDueType}} for this vehicle is
                        due on {{serviceDueDate}}
                    </li>

                    <li>
                        Last Fuel filled : XX litres on DD-MON-YYYY HH24:MI
                    </li> -->

                    <li>
                        Above Data updated on :{{updatedOn |  date:'h:mm a':'+0000'}} on
                        {{updatedOn | slice: 8:10}}-{{updatedOn | slice: 5:7}}-{{updatedOn | slice: 0:4}}

                    </li>

                </ul>
            </div>

            <div class="col-md-5 track-3 m-mb-1">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-3 rounded"
                        style="color: white; background-color: red; text-align: center; text-size-adjust:inherit; height: 100%; width: 30%; margin: 6px 15px;">
                        LIVE DATA
                    </div>
                    <div class="col-md-7" style="font-size: 11px;">
                        *Showing data for last engine on. <br>
                        Zero speed indicates vehicle is stationary.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <img class="iconl" title="Vehicle Speed" src="assets/img/RPM.png">
                    </div>

                    <div class="col-md-3 col-xs-3">
                        {{summeryReportExtras?.travelSpeed}}
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <img class="iconl" title="Last Engine ON Time" src="assets/img/Engine.png">
                    </div>

                    <div class="col-md-5 col-xs-5">
                        {{EngineOnDatadocs[0]?.devicePublishTime | slice:8:10}}-{{EngineOnDatadocs[0]?.devicePublishTime | slice:5:7}}-{{EngineOnDatadocs[0]?.devicePublishTime | slice:0:4}}
                        <br>
                        {{EngineOnDatadocs[0]?.devicePublishTime | date:'h:mm:ss a':'+0000'}}
                    </div>

                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2 col-xs-2">
                        <img class="iconl" title="Battery Voltage" src="assets/img/Battery.png">
                    </div>

                    <div class="col-md-3 col-xs-3">
                        {{EngineOnDatadocs[0]?.extras[0].batteryLevel}} V
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn mr-1" title="Click to see location" (click)="geocodeLatLng(lat,lng)"
                            style="float:right;"><i class="fas fa-map-marker-alt fa-2x"></i></button>
                    </div>

                    <div class="col-md-5 col-xs-5">
                        <span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
                        <span style="font-size: 14px;"> {{address}} </span>

                    </div>


                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2 col-xs-2">
                        <img class="iconl" title="Fuel" src="assets/img/Fuel Pump.png">
                    </div>

                    <div class="col-md-3 col-xs-3">
                        {{EngineOnDatadocs[0]?.extras[0].fuelLevel}} ({{EngineOnDatadocs[0]?.extras[0].fuelInLitres}} L)
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <img class="iconl" title="Coolant Temperature" src="assets/img/Group 473.png">
                    </div>

                    <div class="col-md-5 col-xs-5">
                        {{EngineOnDatadocs[0]?.extras[0].coolantTemp}} &#8451;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="selected == 'Report'">
    <!-- <div class="col-md-2">
       
    </div> -->
    <div class="col-md-6">
        <input type="checkbox" [checked]="isChecked" (click)="getalertEngineData($event)"
            style="margin-right: 2px;">Show Alert values

        <select class="rounded" id="select2"
            style="border: 0px; outline: 0px; margin-left: 10%;margin-right: 5%; padding: 4px 40px; font-weight: bold; margin-bottom: 10px;"
            (change)="select2($event)">
            <option selected value="on">
                Engine On
            </option>
            <option value="off">
                Engine Off
            </option>
        </select>
        <button class="btn btn-sm btn-primary" (click)="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-sm btn-success" *ngIf="selected2 == 'on'" title="Download Excel File"
            (click)="exportEngineOnXLSX()" style="float:right;"><i class="fas fa-file-excel fa-2x"></i>
        </button>
    </div>
    <div class="col-md-6">
        Parameter alert values : <span class="warning">warning in orange colour </span>,<span class="critical"> critical
            in red colour.</span>
    </div>
    <br>

    <div class="tableFixHead" *ngIf="selected2 == 'on'">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th style="padding: 10px 35px;">Date & Time</th>
                    <th style="width: 9%">Fuel Level</th>
                    <th style="width: 9%">Engine</th>
  		    <th style="width: 10%;" [hidden]="showOnCANData">Engine Hours</th>
                    <th style="width: 9%">RPM</th>
                    <th style="width: 9%">Coolant &#8451;</th>
                    <th style="width: 9%">Battery Level (volt)</th>
                    <th style="width: 9%">Travel Speed (Km/h)</th>
                    <th style="width: 9%" [hidden]="showOnColumns">Parking Switch</th>
                    <th style="width: 9%" [hidden]="showOnColumns">Hydraulic Oil Filter Choke</th>
                    <th style="width: 9%" [hidden]="showOnColumns">Oil Pressure (Bar)</th>
                    <th style="width: 9%">Fuel (L)</th>
                    <th style="width: 9%">Distance (kms)</th>

                                        
                    <th style="width: 10%;" [hidden]="showOnCANData">WaterIn Fuel Level</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">Cold Start Lamp</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">System Lamp</th>
                    <!-- <th style="width: 10%;" [hidden]="showOnCANData">Oil Pressure (Bar)</th> 
                    <th style="width: 10%;" [hidden]="showOnCANData">Coolant &#8451;</th> 
                    <th style="width: 10%;" [hidden]="showOnCANData">Battery Voltage</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">Engine Speed</th> -->
                    <th style="width: 10%;" [hidden]="showOnCANData">Actual Engine %Torque</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">Nominal Friction Torque</th>
                  
                    <th style="width: 10%;" [hidden]="showOnCANData">Fuel Cons. /Hr</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">Diesel Exhaust fluid1</th>
                    <th style="width: 10%;" [hidden]="showOnCANData">Diesel Exhaust fluid2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item1 of EngineOnDatadocs | paginate : {itemsPerPage : 100, currentPage : p} let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow" style="text-align: center;">
                    <td>{{50*(p-1)+i+1}}</td>
                    <td style="width:18%;">
                        {{item1.devicePublishTime | slice:8:10}}-{{item1.devicePublishTime | slice:5:7}}-{{item1.devicePublishTime | slice:0:4}}
                        {{item1.devicePublishTime | date:'h:mm:ss a':'+0000' }}</td>
                 

                    <td
                        [ngClass]="{'warning': item1.extras[0].fuelLevel == this.alertValues[0].fuelLevelw1, 'critical': item1.extras[0].fuelLevel == this.alertValues[0].fuelLevelc}">
                        {{item1.extras[0].fuelLevel}}</td>
                    <td>{{item1.engineStatus}}</td>
			<td [hidden]="showOnCANData">{{ item1.extras[0]["engineHours"] }}</td>
                    <td> {{item1.extras[0].rpm | number : '1.0-0'}} </td>
                    <td
                        [ngClass]="{'critical': item1.extras[0].coolantTemp >=this.alertValues[0].coolantTempc, 'warning': item1.extras[0].coolantTemp >= this.alertValues[0].coolantTempw1 && item1.extras[0].coolantTemp <= this.alertValues[0].coolantTempw2 }">
                        {{item1.extras[0].coolantTemp}}</td>
                    <td
                        [ngClass]="{'warning': item1.extras[0].batteryLevel <= this.alertValues[0].batteryLevelw1 && item1.extras[0].batteryLevel >= this.alertValues[0].batteryLevelc, 'critical': item1.extras[0].batteryLevel <= this.alertValues[0].batteryLevelc}">
                        {{item1.extras[0].batteryLevel}}</td>
                    <td> {{item1.extras[0].travelSpeed}} </td>
                    <td [hidden]="showOnColumns">{{item1.extras[0].parkingSwitch}}</td>
                    <td [hidden]="showOnColumns"
                        [ngClass]="{'critical':item1.extras[0].hydralicOilFilterChoke == this.alertValues[0].hydralicOilFilterChokec}">
                        {{item1.extras[0].hydralicOilFilterChoke}}</td>
                    <td [hidden]="showOnColumns"
                        [ngClass]="{'critical':item1.extras[0].oilpressure == this.alertValues[0].oilpressurec}">
                        {{item1.extras[0].oilpressure}}</td>
                    <td>{{item1.extras[0].fuelInLitres}}</td>
                    <td>{{item1.extras[0].distance | number: '1.2-5'}}</td>

                       
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["waterinFuelLevel"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["coldStartLamp"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["systemLamp"] }}</td>
                    <!-- <td [hidden]="showOnCANData">{{ item1.extras[0]["engineOilPressure"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["engineCoolantTemperature"] }}</td> 
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["batteryVoltage"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["engineSpeed"] }}</td>   -->
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["actualEnginePercentageTorque"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["nominalFrictionTorque"] }}</td>
                    
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["liquidFuelEconomy"] | number : '1.1-1'}}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["dieselExhaustfluid1"] }}</td>
                    <td [hidden]="showOnCANData">{{ item1.extras[0]["dieselExhaustfluid2"] }}</td>
                </tr>
                <tr *ngIf="loading">
                    <td colspan="11" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="tableFixHead" *ngIf="selected2 == 'off'">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th style="padding: 10px 35px;">Date & Time</th>
                   
                    <th style="width: 9%">Fuel Level</th>
                    <th style="width: 9%">Engine</th>
                    <th style="width: 9%">RPM</th>
                    <th style="width: 9%">Coolant &#8451;</th>
                    <th style="width: 9%">Battery Level (volt) </th>
                    <th style="width: 9%">Travel Speed (Km/h)</th>
                    <th style="width: 9%" [hidden]="showOffColumns">Parking Switch</th>
                    <th style="width: 9%" [hidden]="showOffColumns">Hydraulic Oil Filter Choke</th>
                    <th style="width: 9%" [hidden]="showOffColumns">Oil Pressure (Bar)</th>

                     
                    <th style="width: 10%;" [hidden]="showOffCANData">Water in Fuel Level</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Cold Start Lamp</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">System Lamp</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Engine Oil Pressure</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Engine Coolant Temp.</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Battery Voltage</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Engine Speed</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Actual Engine % Torque</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Nominal Friction Torque</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Engine Hours</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Liquid Fuel Economy</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Diesel Exhaust fluid1</th>
                    <th style="width: 10%;" [hidden]="showOffCANData">Diesel Exhaust fluid2</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of EngineOffDatadocs | paginate : {itemsPerPage : 100, currentPage : p} let i = index"
                    (click)="setClickedRow(i)" [class.active]="i == selectedRow" style="text-align: center;">
                    <td>{{i+1}}</td>
                    <td style="width:18%;">
                        {{item.devicePublishTime | slice:8:10}}-{{item.devicePublishTime | slice:5:7}}-{{item.devicePublishTime | slice:0:4}}
                        {{item.devicePublishTime | date:'h:mm:ss a':'+0000' }}
                    </td>

                    <td>--</td>
                    <td>{{item.engineStatus}}</td>
                    <td>{{item.extras[0].rpm | number : '1.0-0'}}</td>
                    <td>--</td>
                    <td
                        [ngClass]="{'warning': item.extras[0].batteryLevel <= this.alertValues[0].batteryLevelw1 && item.extras[0].batteryLevel >= this.alertValues[0].batteryLevelc, 'critical': item.extras[0].batteryLevel <= this.alertValues[0].batteryLevelc}">
                        {{item.extras[0].batteryLevel}}</td>
                    <td>{{item.extras[0].travelSpeed}}</td>
                    <td [hidden]="showOffColumns">--</td>
                    <td [hidden]="showOffColumns">--</td>
                    <td [hidden]="showOffColumns">--</td>

                    
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["waterinFuelLevel"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["coldStartLamp"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["systemLamp"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["engineOilPressure"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["engineCoolantTemperature"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["batteryVoltage"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["engineSpeed"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["actualEnginePercentageTorque"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["nominalFrictionTorque"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["engineHours"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["liquidFuelEconomy"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["dieselExhaustfluid1"] }}</td>
                    <td [hidden]="showOffCANData">{{ item1.extras[0]["dieselExhaustfluid2"] }}</td>

                </tr>
                <tr *ngIf="loading">
                    <td colspan="11" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="tableFixHead" *ngIf="selected == 'Consumption'">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th style="width: 8%">Batch_Count</th>
                <th style="width: 8%">AGGT10mm</th>
                <th style="width: 8%">AGGT20mm</th>
                <th style="width: 8%">AGGT30mm</th>
                <th style="width: 8%">CEMT01</th>
                <th style="width: 8%">CEMT02</th>
                <th style="width: 8%">SAND01</th>
                <th style="width: 8%">SAND02</th>
                <th style="width: 5%">Water</th>
                <th style="width: 5%">Total WT</th>
                <th style="width: 10%">Pin No</th>
                <th style="width: 6%">Additive</th>
                <th style="width:10%">CuM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of consumptionDatadocs | paginate : {itemsPerPage : 10, currentPage : p} let i = index"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow" style="text-align: center;">
                <td>{{i+1}}</td>
                <td>{{item.BatchCount}}</td>
                <td>{{item.aggt10mm}}</td>
                <td>{{item.aggt20mm}}</td>
                <td>{{item.aggt30mm}}</td>
                <td>{{item.cement01mm}}</td>
                <td>{{item.cement02mm}}</td>
                <td>{{item.sand01mm}}</td>
                <td>{{item.sand02mm}}</td>
                <td>{{item.water}}</td>
                <td>{{item.totalWT}}</td>
                <td>{{item.pinno}}</td>
                <td>{{item.additive1}}</td>
                <td>{{item.cum}}</td>
            </tr>
            <tr *ngIf="loading">
                <td colspan="14" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
            <tr>
                <td colspan="14">
                    UOM: Water in litres,other values are in kgs. Cumulative Consumption data for the Date Range
                    selected.</td>
            </tr>
        </tbody>

    </table>
</div>
<div class="tableFixHead" *ngIf="selected == 'Batch'">
    <table class="table table-striped table-bordered table-hover" style="overflow-x:visible;overflow-y: visible;">
        <thead class="thead-dark">
            <tr>
                <th style="width:5%">#</th>
                <th style="width:3%">Batch No</th>
                <th style="width:10%">Machine ID</th>
                <th style="width:14%">Batch_Date</th>
                <th style="width:5%">AGGT10mm</th>
                <th style="width:3%">AGGT20mm</th>
                <th style="width:5%">AGGT30mm</th>
                <th style="width:5%">CEMT01</th>
                <th style="width:5%">CEMT02</th>
                <th style="width:5%">SAND01</th>
                <th style="width:5%">SAND02</th>
                <th style="width:5%">Water</th>
                <th style="width:5%">Additive</th>
                <th style="width:10%">Total WT</th>
                <th style="width:10%">CuM</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of batchDatadocs | paginate : {itemsPerPage : 10, currentPage : p} let i = index"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow" style="text-align: center;">
                <td style="width:5%">{{i+1}}</td>
                <td style="width:3%"> {{item.batchNo}}</td>
                <td style="width:10%">{{item.machineID}}</td>
                <td style="width:14%">{{item.batchDate | date : 'dd-MM-yyyy'}} {{item.batchTime}}</td>
                <td style="width:5%">{{item.aggt10mm}}</td>
                <td style="width:3%">{{item.aggt20mm}}</td>
                <td style="width:5%">{{item.aggt30mm}}</td>
                <td style="width:5%">{{item.cement01mm}}</td>
                <td style="width:5%">{{item.cement02mm}}</td>
                <td style="width:5%">{{item.sand01mm}}</td>
                <td style="width:5%">{{item.sand02mm}}</td>
                <td style="width:5%">{{item.water}}</td>
                <td style="width:5%">{{item.additive1}}</td>
                <td style="width:10%">{{item.totalWT}}</td>
                <td style="width:10%">{{item.cum}}</td>
            </tr>
            <tr *ngIf="loading">
                <td colspan="15" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
            <tr>
                <td colspan="15">
                    UOM: Water in litres, CuM in cubic metres, other values are in kgs</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="tableFixHead" *ngIf="selected == 'Engine'">

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Engine OnTime</th>
                <th>Engine OffTime</th>
                <th>Duration</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let engine of engineDatadocs | paginate : {itemsPerPage : 10, currentPage : p} let i = index"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td> {{i+1}} </td>
                <td>
                    {{engine.onTimestamp | slice:8:10}}-{{engine.onTimestamp | slice:5:7}}-{{engine.onTimestamp | slice:0:4}}
                    {{engine.onTimestamp | date:'h:mm:ss a':'+0000'}} </td>
                <td> {{engine.offTimestamp | slice:8:10}}-{{engine.offTimestamp | slice:5:7}}-{{engine.offTimestamp | slice:0:4}}
                    {{engine.offTimestamp | date:'h:mm:ss a':'+0000'}} </td>
                <td>{{engine.engineHours}}</td>
            </tr>
            <tr *ngIf="loading">
                <td colspan="11" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="input-group-icon input-group-icon-left mr-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>