


ol.carousel-indicators li,
ol.carousel-indicators li.active {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color:  #3C84F0;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
  }

 

.modal-lg{
  width: 40%;
}
.modal-header{
  background-color: #283882;
  color: white;
}
 .close{
    color: white;
  }

.iconl{
  width: 40px;
}
.icont{
  width: 30px;
}
  .tableFixHead {
    overflow-y: auto;
    height: 400px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  .head th{
    vertical-align: top;
  }

  .user-menu
  {
    border: 0px;
    outline: 0px;
    font-size: 13px;
    box-shadow: -1px 1px 5px -1px #000;
    padding-left: 9px;
    background-color: rgb(255 255 255);
    position: absolute;
    transform: translate3d(-5px, 22px, 0px);
    top: 0px;
    left: -60px;
    transition: 1s;
    will-change: transform;
  }

.main-header
{
  text-align: center;
  color: #404040;
  font-size: 22px;
  font-family: serif;
}  

 img.d-block{
    width: auto;
    height: auto;
  }
