


ol.carousel-indicators li,
ol.carousel-indicators li.active {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color:  #3C84F0;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
  }

 

 img.d-block{
    height: 670px;
    width:1300px;
    }